{% extends 'Basic/base.html' %}
 {% block content %}
 {% load static %}

 <div class="col-md-4 mx-5 border border-dark rounded">
    <div class="title-text">
       <div class="title text-danger border-bottom border-danger">
          <h4>Reset Password</h4> 
       </div>
    </div>
     <form action="" method="POST">
         {% csrf_token %}
         {% if form.non_field_errors %}
         {% for error in form.non_field_errors %}
         <p class="alert alert-sm alert-">{{ error }}</p>
         {% endfor %}
         {% endif %}
         <br>
         {% for fm in form %}
         <div class="row"> 
            <div class="col"> {{fm.label_tag}} </div> 
            <div class="col"> {{fm}}</div> 
         </div>
            <div class="">{{fm.errors|striptags}}</div>
            <br>
        
         <br>
         {% endfor%}
         
         <input type="submit" class="btn btn-primary btn-success" value="Save">
     </form>
</div>
    

 
 {% endblock %}