{% extends 'Basic/base.html' %}
 {% block content %}
 {% load static %}


<div class="continer align-middle">
    <div class="col-md-5 mx-5 border border-dark rounded">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row g-3 my-2 ">
                <div class="col col-md-4 mx-5">
                    <label class="text"> Enter your Register Email id:-</label> 
                </div>
                <div class="col col-md mx-2">
                    <input type="email" class="form-control"name="email" required>
                </div>
            </div>
            <center>
                <input type="submit" class="btn btn-primary btn-success my-5" value="Reset Password">
            </center>
        </form>
    </div>
</div>
{% endblock %}