{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <title>SSBG</title>
    
</head>

<body bgcolor="lightblue">

    <a class="btn" href="/">Home</a>
    <a class="btn" href="/dashbord/">dashbord</a>
    <a class="btn" href="/admin/">Admin</a>
    <a class="btn" href="/logout/">logout</a>
    <a class="btn" href="/profile/">Profile</a>
    <a class="btn" href="/user_view/">User View</a>
    <a class="btn" href="/authority/">Authority</a>
    <a class="btn" href="/loan/">Loan</a>
    {% if secretary %}
    <a class="btn" href={% url 'password_set1' %}>Forget Password</a>
    {% endif %}
    <center> 
    
    {% if messages %}
        {%for message in messages %}
            <small 
            {% if message.tags %} 
                class="alert alert-sm alert-{{ message.tags }}" 
            {% endif %}
            >
                {{ message }}
            </small>
            
        {% endfor %}
    {% endif %}
    <br>
    </center>

    {% block content %} {% endblock %}

</body>

</html>